.header-height {
    max-height: 110px;
}

.icon-md {
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    font-size: 28px;
}

.icon-link-badged {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    /* чтоб у бейджика менялся размер шрифта, 75%*/
    font-size: 20px;
}


.icontext {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}


.icontext .icon {
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}


/* inner blocks */
.inner-block-1 {
    width: 85%;
    background-color: #2d2b47;
    box-shadow: 0 5px 7px rgba(22, 22, 22, 0.28);
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 5px;
}

.inner-block-2 {
    width: 85%;
    background-color: #555369;
    box-shadow: 0 5px 7px rgba(22, 22, 22, 0.28);
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 5px;
}

.inner-block-3 {
    width: 85%;
    background-color: #f4f4f4;
    box-shadow: 0 5px 7px rgba(22, 22, 22, 0.28);
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 5px;
}

.dropdown-block {
    background-color: #282643;
}


/* buttons */
.btn-muz {
    color: #282643;
    background-color: white;
    border-radius: 12px;
}
.btn-muz:hover {
    color: white;
    background-color: #6b6697;
    border-color: #6b6697;
}
/*.btn-muz:focus, .btn-muz.focus {*/
/*    box-shadow: 0 0 0 0.2rem rgba(80, 126, 238, 0.5);*/
/*}*/
/*.btn-muz.disabled, .btn-muz:disabled {*/
/*    color: #fff;*/
/*    background-color: #3950c4;*/
/*    border-color: #3950c4;*/
/*}*/
/*.btn-muz:not(:disabled):not(.disabled):active, .btn-muz:not(:disabled):not(.disabled).active, .show > .btn-muz.dropdown-toggle {*/
/*    color: #fff;*/
/*    background-color: #5d81ff;*/
/*    border-color: #5d81ff;*/
/*}*/
/*.btn-muz:not(:disabled):not(.disabled):active:focus, .btn-muz:not(:disabled):not(.disabled).active:focus, .show > .btn-muz.dropdown-toggle:focus {*/
/*    box-shadow: 0 0 0 0.2rem rgba(80, 126, 238, 0.5);*/
/*}*/
