.header{
    max-height: 70px;
}

.icon-md {
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    font-size: 28px;
}

.icon-link-badged {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    /* чтоб у бейджика менялся размер шрифта, 75%*/
    font-size: 20px;
}


.icontext {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}


.icontext .icon {
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.footer{
    height:170px;
    margin-top: 50%;
    width:100%;
    background-color: #161433;
}
